/*RESET*/

html, body {
  margin: 0;
  padding: 0;
  }

/*FONTS SETUP*/

h1, h2, h3, a {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: Helvetica, Arial, sans-serif;
}

/* PAGE STYLING*/

.container {
  width: 940px;
  margin: 0 auto;
}

.btn{
  text-decoration:none;
  background:#261d16;
  padding:8px 30px;
  font-size: 18px;
  color:#fff;
  display: inline-block;
}

.btn:hover{
  color:#fff;
  background:#ffce6e;
}

/* Main */
.main {
  height: 800px;
  background: url('https://a2ua.com/hipster/hipster-007.jpg')no-repeat center center;
  background-position: top;
  background-size: cover;
  color:#fff;
  text-align:center;
}

.main .container {
    position: relative;
    top: 150px;
}

.main h1 {
  font-size: 150px;
  color: #ff462e;
  margin: 0;
}

.main p {
  font-size: 18px;
  margin: 20px 0 40px 0;
}


/* Supporting */
.supporting {
  text-align: center;
  padding: 50px 0 80px;
  background:#868275;
}

.supporting img{
  width: 100px;
}

.supporting .col {
  float: left;
  width: 30%;
  padding: 10px;
}

.supporting h2 {
  color: #ffce6e;
  font-size: 40px;
  margin-bottom: 10px;
}

.supporting h3{
  color: #ffce6e;
  font-size: 40px;
  margin: 0;
}

.clearfix {
  clear: both;
}

.supporting p {
  color: #fff;
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 18px;
}


/* Feature */
.feature {
  height: 600px;
  background: #fff;
  text-align:center;
  color: #261d16;
}

.feature .container {
    position: relative;
    top: 50px;
}

.feature h2 {
  color: #ff462e;
  font-size: 40px;
}

.feature p{
  color:#261d16;
}


/* Footer */
.footer {
 background: url('https://a2ua.com/hipster/hipster-007.jpg') no-repeat center center;
background-size: cover;
background-position: top;
height: 800px;
text-align: center;
  }

.footer .container{
position: relative;
top: 50px;
}

.footer h2 {
  color: #fff;
  font-size: 40px;
  margin: 0 0 20px 0;
  padding:50px 0 0;
  }

.footer p {
  color:#ff462e;
  margin: 0 0 20px 0;
  font-size: 18px;
}

/*GAME STYLING*/
/*tiles container styling*/
.wrap{
  perspective:500px;
	width:440px;
	height:440px;
	margin:0 auto;
  margin-bottom: 40px;
}

/*each tile container styling*/
.contain{
	width:100px;
	height: 100px;
	margin:5px;
	transform: rotateY(0);
	transform-style: preserve-3d;
	float:left;
	transition:400ms;
}

/*card styling*/
.card{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	backface-visibility: hidden;
}

/*styling of the card's front side*/
.front{
	background-color: #FF462E;
}

/*styling of the card's back side*/
.back{
	transform: rotateY(180deg);
	transform-style: preserve-3d;
	background: #fff;
	border:1px solid #000;
}

/*classes for pairing images*/
.hipster-1{
  background-image: url('images/accesory.svg');
	background-repeat:no-repeat;
	background-position: center;
}

.hipster-2{
  background-image: url('images/accessory-1.svg');
	background-repeat:no-repeat;
	background-position: center;
}

.hipster-3{
    background-image: url('images/cycling.svg');
	background-repeat:no-repeat;
	background-position: center;
}

.hipster-4{
    background-image: url('images/photograph.svg');
	background-repeat:no-repeat;
	background-position: center;
}

.hipster-5{
  background-image: url('images/footwear.svg');
	background-repeat:no-repeat;
	background-position: center;
}

.hipster-6{
  background-image: url('images/hipster-2.svg');
	background-repeat:no-repeat;
	background-position: center;
}

.hipster-7{
  background-image: url('images/horn.svg');
	background-repeat:no-repeat;
	background-position: center;
}

.hipster-8{
  background-image: url('images/hot-drinks.svg');
	background-repeat:no-repeat;
	background-position: center;
}

/*styling for rotation*/
.contain.flip{
	transform: rotateY(180deg);
}

/*styling for just flip*/
.flip{
    transform: rotateY(180deg);
}

.lock{

}
